In [1]:
import pandas as pd

## Data files

In [2]:
# load data files 
product = pd.read_csv("products.csv")
order1 = pd.read_csv("order_products__prior.csv")
order2 = pd.read_csv("order_products__train.csv")

In [3]:
# cleaning product names to make it utf-8 compliant and remove ','s
product.product_name.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
product['product_name']=product['product_name'].str.replace(',','')
product['product_name']=product['product_name'].str.replace('"','')
print("PRODUCTS")
print(product.head())
print(product.shape, "\n\n")

PRODUCTS
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id
0             19
1             13
2              7
3              1
4             13
(49688, 4)

In [4]:
print("ORDERS")
print(order1.head())
print(order1.shape, "\n\n")

print("ORDERS")
print(order2.head())
print(order2.shape, "\n\n")

ORDERS
   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
(32434489, 4)


ORDERS
   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
(1384617, 4)

In [5]:
# load data files 
aisles = pd.read_csv("aisles.csv")
departments = pd.read_csv("departments.csv")

print("AISLES")
print(aisles.head())
print(aisles.shape, "\n\n")

print("DEPARTMENTS")
print(departments.head())
print(departments.shape, "\n\n")

AISLES
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation
(134, 2)


DEPARTMENTS
   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol
(21, 2)

### Splitting orders into sub-dataframes as its too big alone

In [7]:
order1_clean = order1.iloc[:, 0:2]

# SPLITTING ORDER 1 AS IT'S TOO BIG
sub1 = order1_clean.iloc[:5000000]
sub2 = order1_clean.iloc[5000000:10000000]
sub3 = order1_clean.iloc[10000000:15000000]
sub4 = order1_clean.iloc[15000000:20000000]
sub5 = order1_clean.iloc[20000000:25000000]
sub6 = order1_clean.iloc[25000000:30000000]
sub7 = order1_clean.iloc[30000000:32434489]

print(sub1.head())
print(sub1.shape)
print(sub2.head())
print(sub2.shape)
print(sub3.head())
print(sub3.shape)
print(sub4.head())
print(sub4.shape)
print(sub5.head())
print(sub5.shape)
print(sub6.head())
print(sub6.shape)
print(sub7.head())
print(sub7.shape)

   order_id  product_id
0         2       33120
1         2       28985
2         2        9327
3         2       45918
4         2       30035
(5000000, 2)
         order_id  product_id
5000000    527768       24382
5000001    527768       35530
5000002    527768       20042
5000003    527769       25043
5000004    527769       27695
(5000000, 2)
          order_id  product_id
10000000   1055844        2078
10000001   1055844        8012
10000002   1055844       17985
10000003   1055844        2544
10000004   1055844       11352
(5000000, 2)
          order_id  product_id
15000000   1582757        7952
15000001   1582757        8025
15000002   1582757        3855
15000003   1582757       31605
15000004   1582757       40063
(5000000, 2)
          order_id  product_id
20000000   2109415       23430
20000001   2109415       16759
20000002   2109415       40632
20000003   2109415        4029
20000004   2109415       11576
(5000000, 2)
          order_id  product_id
25000000   2636732       23819
25000001   2636732        5025
25000002   2636732        6757
25000003   2636732       44523
25000004   2636733       40852
(5000000, 2)
          order_id  product_id
30000000   3164325          10
30000001   3164325       29871
30000002   3164325       10017
30000003   3164325        5456
30000004   3164325       27695
(2434489, 2)

## PRODUCT ID ONLY

In [9]:
# extracting only the order_id & product_name
num1 = sub1[['order_id', 'product_id']].copy()
num2 = sub2[['order_id', 'product_id']].copy()
num3 = sub3[['order_id', 'product_id']].copy()
num4 = sub4[['order_id', 'product_id']].copy()
num5 = sub5[['order_id', 'product_id']].copy()
num6 = sub6[['order_id', 'product_id']].copy()
num7 = sub7[['order_id', 'product_id']].copy()

print(num1.head())
print(num1.shape)
print(num2.shape)
print(num3.shape)
print(num4.shape)
print(num5.shape)
print(num6.shape)
print(num7.shape)

   order_id  product_id
0         2       33120
1         2       28985
2         2        9327
3         2       45918
4         2       30035
(5000000, 2)
(5000000, 2)
(5000000, 2)
(5000000, 2)
(5000000, 2)
(5000000, 2)
(2434489, 2)

In [10]:
num1['product_count'] = num1.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged1 = num1.pivot_table(index='order_id', columns='product_count', values='product_id', aggfunc='first')

# Reset column names
merged1.columns = [f'product{i}' for i in range(1, merged1.shape[1] + 1)]

# Reset the index
merged1.reset_index(inplace=True)

print(merged1.head())
print(merged1.shape)


#2
num2['product_count'] = num2.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged2 = num2.pivot_table(index='order_id', columns='product_count', values='product_id', aggfunc='first')

# Reset column names
merged2.columns = [f'product{i}' for i in range(1, merged2.shape[1] + 1)]

# Reset the index
merged2.reset_index(inplace=True)

print(merged2.head())
print(merged2.shape)


# 3
num3['product_count'] = num3.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged3 = num3.pivot_table(index='order_id', columns='product_count', values='product_id', aggfunc='first')

# Reset column names
merged3.columns = [f'product{i}' for i in range(1, merged3.shape[1] + 1)]

# Reset the index
merged3.reset_index(inplace=True)

print(merged3.head())
print(merged3.shape)


#4
num4['product_count'] = num4.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged4 = num4.pivot_table(index='order_id', columns='product_count', values='product_id', aggfunc='first')

# Reset column names
merged4.columns = [f'product{i}' for i in range(1, merged4.shape[1] + 1)]

# Reset the index
merged4.reset_index(inplace=True)

print(merged4.head())
print(merged4.shape)


#5
num5['product_count'] = num5.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged5 = num5.pivot_table(index='order_id', columns='product_count', values='product_id', aggfunc='first')

# Reset column names
merged5.columns = [f'product{i}' for i in range(1, merged5.shape[1] + 1)]

# Reset the index
merged5.reset_index(inplace=True)

print(merged5.head())
print(merged5.shape)


#6
num6['product_count'] = num6.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged6 = num6.pivot_table(index='order_id', columns='product_count', values='product_id', aggfunc='first')

# Reset column names
merged6.columns = [f'product{i}' for i in range(1, merged6.shape[1] + 1)]

# Reset the index
merged6.reset_index(inplace=True)

print(merged6.head())
print(merged6.shape)


#7
num7['product_count'] = num7.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged7 = num7.pivot_table(index='order_id', columns='product_count', values='product_id', aggfunc='first')

# Reset column names
merged7.columns = [f'product{i}' for i in range(1, merged7.shape[1] + 1)]

# Reset the index
merged7.reset_index(inplace=True)

print(merged7.head())
print(merged7.shape)

   order_id  product1  product2  product3  product4  product5  product6  \
0         2   33120.0   28985.0    9327.0   45918.0   30035.0   17794.0
1         3   33754.0   24838.0   17704.0   21903.0   17668.0   46667.0
2         4   46842.0   26434.0   39758.0   27761.0   10054.0   21351.0
3         5   13176.0   15005.0   47329.0   27966.0   23909.0   48370.0
4         6   40462.0   15873.0   41897.0       NaN       NaN       NaN

   product7  product8  product9  ...  product118  product119  product120  \
0   40141.0    1819.0   43668.0  ...         NaN         NaN         NaN
1   17461.0   32665.0       NaN  ...         NaN         NaN         NaN
2   22598.0   34862.0   40285.0  ...         NaN         NaN         NaN
3   13245.0    9633.0   27360.0  ...         NaN         NaN         NaN
4       NaN       NaN       NaN  ...         NaN         NaN         NaN

   product121  product122  product123  product124  product125  product126  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   product127
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 128 columns]
(495727, 128)
   order_id  product1  product2  product3  product4  product5  product6  \
0    527768   24382.0   35530.0   20042.0       NaN       NaN       NaN
1    527769   25043.0   27695.0   41860.0       NaN       NaN       NaN
2    527770   12099.0   31100.0   20899.0   35140.0   20082.0   26209.0
3    527771   40541.0   22220.0       NaN       NaN       NaN       NaN
4    527772   32747.0   36956.0   40939.0   21472.0   48205.0   49683.0

   product7  product8  product9  ...  product128  product129  product130  \
0       NaN       NaN       NaN  ...         NaN         NaN         NaN
1       NaN       NaN       NaN  ...         NaN         NaN         NaN
2   28842.0   35939.0   17878.0  ...         NaN         NaN         NaN
3       NaN       NaN       NaN  ...         NaN         NaN         NaN
4   38495.0   32331.0   19126.0  ...         NaN         NaN         NaN

   product131  product132  product133  product134  product135  product136  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   product137
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 138 columns]
(495988, 138)
   order_id  product1  product2  product3  product4  product5  product6  \
0   1055844    2078.0    8012.0   17985.0    2544.0   11352.0   41165.0
1   1055845   38689.0   17864.0   42445.0   44422.0   36082.0   15767.0
2   1055846   39636.0   42441.0   48933.0   10957.0   16696.0       NaN
3   1055848    2966.0   47329.0    7781.0   37317.0    2164.0   10673.0
4   1055849   11688.0   20842.0     651.0   42613.0   19057.0   41787.0

   product7  product8  product9  ...  product136  product137  product138  \
0   31634.0    7177.0   22935.0  ...         NaN         NaN         NaN
1   41950.0   21137.0   43122.0  ...         NaN         NaN         NaN
2       NaN       NaN       NaN  ...         NaN         NaN         NaN
3   34969.0   47209.0   18721.0  ...         NaN         NaN         NaN
4     162.0   33731.0   46802.0  ...         NaN         NaN         NaN

   product139  product140  product141  product142  product143  product144  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   product145
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 146 columns]
(495130, 146)
   order_id  product1  product2  product3  product4  product5  product6  \
0   1582757    7952.0    8025.0    3855.0   31605.0   40063.0       NaN
1   1582758   13176.0       NaN       NaN       NaN       NaN       NaN
2   1582759    3298.0    6184.0       NaN       NaN       NaN       NaN
3   1582760   30489.0     581.0   39055.0   17835.0       NaN       NaN
4   1582761   45965.0    5769.0   41690.0   46676.0   17948.0    1890.0

   product7  product8  product9  ...  product107  product108  product109  \
0       NaN       NaN       NaN  ...         NaN         NaN         NaN
1       NaN       NaN       NaN  ...         NaN         NaN         NaN
2       NaN       NaN       NaN  ...         NaN         NaN         NaN
3       NaN       NaN       NaN  ...         NaN         NaN         NaN
4   13176.0       NaN       NaN  ...         NaN         NaN         NaN

   product110  product111  product112  product113  product114  product115  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   product116
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 117 columns]
(495142, 117)
   order_id  product1  product2  product3  product4  product5  product6  \
0   2109415   23430.0   16759.0   40632.0    4029.0   11576.0   26604.0
1   2109416   47626.0   41290.0   34050.0       NaN       NaN       NaN
2   2109417   30563.0   39162.0   40310.0    5077.0   24799.0   36865.0
3   2109418   19316.0   31663.0     329.0       NaN       NaN       NaN
4   2109419   26497.0   20842.0   21137.0   24852.0   17533.0   28204.0

   product7  product8  product9  ...  product103  product104  product105  \
0   27966.0    1896.0   28123.0  ...         NaN         NaN         NaN
1       NaN       NaN       NaN  ...         NaN         NaN         NaN
2   13263.0   28465.0    8910.0  ...         NaN         NaN         NaN
3       NaN       NaN       NaN  ...         NaN         NaN         NaN
4   41319.0   11776.0    9839.0  ...         NaN         NaN         NaN

   product106  product107  product108  product109  product110  product111  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   product112
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 113 columns]
(495628, 113)
   order_id  product1  product2  product3  product4  product5  product6  \
0   2636732   23819.0    5025.0    6757.0   44523.0       NaN       NaN
1   2636733   40852.0   30233.0   38456.0   13740.0   24369.0   44728.0
2   2636734   39993.0   28289.0   48364.0       NaN       NaN       NaN
3   2636735   13517.0   45525.0   37570.0   23554.0   18288.0   38508.0
4   2636736   32175.0       NaN       NaN       NaN       NaN       NaN

   product7  product8  product9  ...  product112  product113  product114  \
0       NaN       NaN       NaN  ...         NaN         NaN         NaN
1   32691.0   45356.0   15017.0  ...         NaN         NaN         NaN
2       NaN       NaN       NaN  ...         NaN         NaN         NaN
3       NaN       NaN       NaN  ...         NaN         NaN         NaN
4       NaN       NaN       NaN  ...         NaN         NaN         NaN

   product115  product116  product117  product118  product119  product120  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   product121
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 122 columns]
(495872, 122)

   order_id  product1  product2  product3  product4  product5  product6  \
0   3164325      10.0   29871.0   10017.0    5456.0   27695.0    6361.0
1   3164326   24852.0   31338.0   48140.0   43961.0    7131.0    1940.0
2   3164327   13629.0   22025.0    6948.0   20082.0   30949.0    3957.0
3   3164328   44632.0   48246.0   49683.0   17461.0   40706.0   42265.0
4   3164329    3544.0    8424.0   29373.0   34619.0   43641.0   35123.0

   product7  product8  product9  ...  product106  product107  product108  \
0   26604.0    2295.0   31717.0  ...         NaN         NaN         NaN
1   21903.0       NaN       NaN  ...         NaN         NaN         NaN
2   46584.0   28199.0   44479.0  ...         NaN         NaN         NaN
3   28331.0    9071.0       NaN  ...         NaN         NaN         NaN
4   40332.0   33716.0   28687.0  ...         NaN         NaN         NaN

   product109  product110  product111  product112  product113  product114  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   product115
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 116 columns]
(241393, 116)

In [11]:
# MOVE ON TO ORDER2

order2_clean = order2.iloc[:, 0:2]
# items2 = pd.merge(order2_clean, product, on='product_id')
cleanO2 = order2_clean[['order_id', 'product_id']].copy()

cleanO2['product_count'] = cleanO2.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
mergedO2 = cleanO2.pivot_table(index='order_id', columns='product_count', values='product_id', aggfunc='first')

# Reset column names
mergedO2.columns = [f'product{i}' for i in range(1, mergedO2.shape[1] + 1)]

# Reset the index
mergedO2.reset_index(inplace=True)

print(mergedO2.head())
print(mergedO2.shape)

   order_id  product1  product2  product3  product4  product5  product6  \
0         1   49302.0   11109.0   10246.0   49683.0   43633.0   13176.0
1        36   39612.0   19660.0   49235.0   43086.0   46620.0   34497.0
2        38   11913.0   18159.0    4461.0   21616.0   23622.0   32433.0
3        96   20574.0   30391.0   40706.0   25610.0   27966.0   24489.0
4        98    8859.0   19731.0   43654.0   13176.0    4357.0   37664.0

   product7  product8  product9  ...  product71  product72  product73  \
0   47209.0   22035.0       NaN  ...        NaN        NaN        NaN
1   48679.0   46979.0       NaN  ...        NaN        NaN        NaN
2   28842.0   42625.0   39693.0  ...        NaN        NaN        NaN
3   39275.0       NaN       NaN  ...        NaN        NaN        NaN
4   34065.0   35951.0   43560.0  ...        NaN        NaN        NaN

   product74  product75  product76  product77  product78  product79  product80
0        NaN        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN        NaN

[5 rows x 81 columns]
(131209, 81)

In [12]:
# COMBINE TO GET HUGE ORDERS FILE

orders = pd.concat([merged1, merged2, merged3, merged4, merged5, merged6, merged7, mergedO2])
print(orders.head())
print(orders.shape)

   order_id  product1  product2  product3  product4  product5  product6  \
0         2   33120.0   28985.0    9327.0   45918.0   30035.0   17794.0
1         3   33754.0   24838.0   17704.0   21903.0   17668.0   46667.0
2         4   46842.0   26434.0   39758.0   27761.0   10054.0   21351.0
3         5   13176.0   15005.0   47329.0   27966.0   23909.0   48370.0
4         6   40462.0   15873.0   41897.0       NaN       NaN       NaN

   product7  product8  product9  ...  product136  product137  product138  \
0   40141.0    1819.0   43668.0  ...         NaN         NaN         NaN
1   17461.0   32665.0       NaN  ...         NaN         NaN         NaN
2   22598.0   34862.0   40285.0  ...         NaN         NaN         NaN
3   13245.0    9633.0   27360.0  ...         NaN         NaN         NaN
4       NaN       NaN       NaN  ...         NaN         NaN         NaN

   product139  product140  product141  product142  product143  product144  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   product145
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 146 columns]
(3346089, 146)

In [13]:
# export product + id
orders.to_csv(r'temp3.txt', header=None, index=None, sep=',', mode='a')

In [14]:
# data cleaning to remove extra ','s
import re

# Open the input file for reading
input_file = "temp3.txt"
mid_file = "temp4.txt"
output_file = "instacart_wID.txt"

with open(input_file, "r") as file:
    file_contents = file.read()

# Define a regular expression pattern to find and replace consecutive commas with just one comma
pattern = re.compile(r',+,')
replacement = ','

# Use the sub() function to replace the pattern with the replacement
cleaned_contents = re.sub(pattern, replacement, file_contents)

# Open the output file for writing and write the cleaned contents
with open(mid_file, "w") as file:
    file.write(cleaned_contents)
    
with open(mid_file, 'r') as infile, open(output_file, 'w') as outfile:
    for line in infile:
        # Remove the trailing comma if it exists
        line = line.rstrip(',\n')
        # Write the modified line to the output file
        outfile.write(line + '\n')

In [12]:
# extract only the products
prods = orders.iloc[:, 1:]
print(prods.head())
print(prods.shape)

   product1  product2  product3  product4  product5  product6  product7  \
0   33120.0   28985.0    9327.0   45918.0   30035.0   17794.0   40141.0
1   33754.0   24838.0   17704.0   21903.0   17668.0   46667.0   17461.0
2   46842.0   26434.0   39758.0   27761.0   10054.0   21351.0   22598.0
3   13176.0   15005.0   47329.0   27966.0   23909.0   48370.0   13245.0
4   40462.0   15873.0   41897.0       NaN       NaN       NaN       NaN

   product8  product9  product10  ...  product136  product137  product138  \
0    1819.0   43668.0        NaN  ...         NaN         NaN         NaN
1   32665.0       NaN        NaN  ...         NaN         NaN         NaN
2   34862.0   40285.0    17616.0  ...         NaN         NaN         NaN
3    9633.0   27360.0     6348.0  ...         NaN         NaN         NaN
4       NaN       NaN        NaN  ...         NaN         NaN         NaN

   product139  product140  product141  product142  product143  product144  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   product145
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 145 columns]
(3346089, 145)

In [15]:
# export products as a txt
prods.to_csv(r'firstcomb.txt', header=None, index=None, sep=',', mode='a')

In [16]:
# data cleaning to remove extra ','s
import re

# Open the input file for reading
input_file = "firstcomb.txt"
mid_file = "temp1.txt"
output_file = "instacartNum.txt"

with open(input_file, "r") as file:
    file_contents = file.read()

# Define a regular expression pattern to find and replace consecutive commas with just one comma
pattern = re.compile(r',+,')
replacement = ','

# Use the sub() function to replace the pattern with the replacement
cleaned_contents = re.sub(pattern, replacement, file_contents)

# Open the output file for writing and write the cleaned contents
with open(mid_file, "w") as file:
    file.write(cleaned_contents)
    
with open(mid_file, 'r') as infile, open(output_file, 'w') as outfile:
    for line in infile:
        # Remove the trailing comma if it exists
        line = line.rstrip(',\n')
        # Write the modified line to the output file
        outfile.write(line + '\n')

--------
## [extra / obsolete] Attempt to Create DB on Product Name

In [6]:
items_sub1 = pd.merge(sub1, product, on='product_id')
print(items_sub1.head())
print(items_sub1.shape)

items_sub2 = pd.merge(sub2, product, on='product_id')
print(items_sub2.head())
print(items_sub2.shape)

items_sub3 = pd.merge(sub3, product, on='product_id')
print(items_sub3.head())
print(items_sub3.shape)

items_sub4 = pd.merge(sub4, product, on='product_id')
print(items_sub4.head())
print(items_sub4.shape)

items_sub5 = pd.merge(sub5, product, on='product_id')
print(items_sub5.head())
print(items_sub5.shape)

items_sub6 = pd.merge(sub6, product, on='product_id')
print(items_sub6.head())
print(items_sub6.shape)

items_sub7 = pd.merge(sub7, product, on='product_id')
print(items_sub7.head())
print(items_sub7.shape)

   order_id  product_id        product_name  aisle_id  department_id
0         2       33120  Organic Egg Whites        86             16
1        26       33120  Organic Egg Whites        86             16
2       120       33120  Organic Egg Whites        86             16
3       327       33120  Organic Egg Whites        86             16
4       390       33120  Organic Egg Whites        86             16
(5000000, 5)
   order_id  product_id    product_name  aisle_id  department_id
0    527768       24382  Ranch Dressing        89             13
1    528721       24382  Ranch Dressing        89             13
2    529524       24382  Ranch Dressing        89             13
3    529714       24382  Ranch Dressing        89             13
4    530055       24382  Ranch Dressing        89             13
(5000000, 5)
   order_id  product_id                product_name  aisle_id  department_id
0   1055844        2078  Unsalted Pure Irish Butter        36             16
1   1055916        2078  Unsalted Pure Irish Butter        36             16
2   1055959        2078  Unsalted Pure Irish Butter        36             16
3   1056134        2078  Unsalted Pure Irish Butter        36             16
4   1056183        2078  Unsalted Pure Irish Butter        36             16
(5000000, 5)
   order_id  product_id                       product_name  aisle_id  \
0   1582757        7952  Chicken & Apple Breakfast Sausage       106
1   1582842        7952  Chicken & Apple Breakfast Sausage       106
2   1583014        7952  Chicken & Apple Breakfast Sausage       106
3   1583461        7952  Chicken & Apple Breakfast Sausage       106
4   1583736        7952  Chicken & Apple Breakfast Sausage       106

   department_id
0             12
1             12
2             12
3             12
4             12
(5000000, 5)
   order_id  product_id               product_name  aisle_id  department_id
0   2109415       23430  Sheep Milk Vanilla Yogurt       120             16
1   2117316       23430  Sheep Milk Vanilla Yogurt       120             16
2   2126409       23430  Sheep Milk Vanilla Yogurt       120             16
3   2126462       23430  Sheep Milk Vanilla Yogurt       120             16
4   2126805       23430  Sheep Milk Vanilla Yogurt       120             16
(5000000, 5)
   order_id  product_id product_name  aisle_id  department_id
0   2636732       23819       Carrot       123              4
1   2647992       23819       Carrot       123              4
2   2648997       23819       Carrot       123              4
3   2657194       23819       Carrot       123              4
4   2658697       23819       Carrot       123              4
(5000000, 5)
   order_id  product_id                                    product_name  \
0   3164325          10  Sparkling Orange Juice & Prickly Pear Beverage
1   3165098          10  Sparkling Orange Juice & Prickly Pear Beverage
2   3165612          10  Sparkling Orange Juice & Prickly Pear Beverage
3   3165645          10  Sparkling Orange Juice & Prickly Pear Beverage
4   3165860          10  Sparkling Orange Juice & Prickly Pear Beverage

   aisle_id  department_id
0       115              7
1       115              7
2       115              7
3       115              7
4       115              7
(2434489, 5)

In [7]:
# extracting only the order_id & product_name
clean1 = items_sub1[['order_id', 'product_name']].copy()
clean2 = items_sub2[['order_id', 'product_name']].copy()
clean3 = items_sub3[['order_id', 'product_name']].copy()
clean4 = items_sub4[['order_id', 'product_name']].copy()
clean5 = items_sub5[['order_id', 'product_name']].copy()
clean6 = items_sub6[['order_id', 'product_name']].copy()
clean7 = items_sub7[['order_id', 'product_name']].copy()

print(clean1.head())
print(clean1.shape)
print(clean2.head())
print(clean2.shape)
print(clean3.head())
print(clean3.shape)
print(clean4.head())
print(clean4.shape)
print(clean5.head())
print(clean5.shape)
print(clean6.head())
print(clean6.shape)
print(clean7.head())
print(clean7.shape)

   order_id        product_name
0         2  Organic Egg Whites
1        26  Organic Egg Whites
2       120  Organic Egg Whites
3       327  Organic Egg Whites
4       390  Organic Egg Whites
(5000000, 2)
   order_id    product_name
0    527768  Ranch Dressing
1    528721  Ranch Dressing
2    529524  Ranch Dressing
3    529714  Ranch Dressing
4    530055  Ranch Dressing
(5000000, 2)
   order_id                product_name
0   1055844  Unsalted Pure Irish Butter
1   1055916  Unsalted Pure Irish Butter
2   1055959  Unsalted Pure Irish Butter
3   1056134  Unsalted Pure Irish Butter
4   1056183  Unsalted Pure Irish Butter
(5000000, 2)
   order_id                       product_name
0   1582757  Chicken & Apple Breakfast Sausage
1   1582842  Chicken & Apple Breakfast Sausage
2   1583014  Chicken & Apple Breakfast Sausage
3   1583461  Chicken & Apple Breakfast Sausage
4   1583736  Chicken & Apple Breakfast Sausage
(5000000, 2)
   order_id               product_name
0   2109415  Sheep Milk Vanilla Yogurt
1   2117316  Sheep Milk Vanilla Yogurt
2   2126409  Sheep Milk Vanilla Yogurt
3   2126462  Sheep Milk Vanilla Yogurt
4   2126805  Sheep Milk Vanilla Yogurt
(5000000, 2)
   order_id product_name
0   2636732       Carrot
1   2647992       Carrot
2   2648997       Carrot
3   2657194       Carrot
4   2658697       Carrot
(5000000, 2)
   order_id                                    product_name
0   3164325  Sparkling Orange Juice & Prickly Pear Beverage
1   3165098  Sparkling Orange Juice & Prickly Pear Beverage
2   3165612  Sparkling Orange Juice & Prickly Pear Beverage
3   3165645  Sparkling Orange Juice & Prickly Pear Beverage
4   3165860  Sparkling Orange Juice & Prickly Pear Beverage
(2434489, 2)

In [8]:
clean1['product_count'] = clean1.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged1 = clean1.pivot_table(index='order_id', columns='product_count', values='product_name', aggfunc='first')

# Reset column names
merged1.columns = [f'product{i}' for i in range(1, merged1.shape[1] + 1)]

# Reset the index
merged1.reset_index(inplace=True)

print(merged1.head())
print(merged1.shape)


# 2
clean2['product_count'] = clean2.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged2 = clean2.pivot_table(index='order_id', columns='product_count', values='product_name', aggfunc='first')

# Reset column names
merged2.columns = [f'product{i}' for i in range(1, merged2.shape[1] + 1)]

# Reset the index
merged2.reset_index(inplace=True)

print(merged2.head())
print(merged2.shape)


# 3
clean3['product_count'] = clean3.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged3 = clean3.pivot_table(index='order_id', columns='product_count', values='product_name', aggfunc='first')

# Reset column names
merged3.columns = [f'product{i}' for i in range(1, merged3.shape[1] + 1)]

# Reset the index
merged3.reset_index(inplace=True)

print(merged3.head())
print(merged3.shape)


#4
clean4['product_count'] = clean4.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged4 = clean4.pivot_table(index='order_id', columns='product_count', values='product_name', aggfunc='first')

# Reset column names
merged4.columns = [f'product{i}' for i in range(1, merged4.shape[1] + 1)]

# Reset the index
merged4.reset_index(inplace=True)

print(merged4.head())
print(merged4.shape)


#5
clean5['product_count'] = clean5.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged5 = clean5.pivot_table(index='order_id', columns='product_count', values='product_name', aggfunc='first')

# Reset column names
merged5.columns = [f'product{i}' for i in range(1, merged5.shape[1] + 1)]

# Reset the index
merged5.reset_index(inplace=True)

print(merged5.head())
print(merged5.shape)


#6
clean6['product_count'] = clean6.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged6 = clean6.pivot_table(index='order_id', columns='product_count', values='product_name', aggfunc='first')

# Reset column names
merged6.columns = [f'product{i}' for i in range(1, merged6.shape[1] + 1)]

# Reset the index
merged6.reset_index(inplace=True)

print(merged6.head())
print(merged6.shape)


#7
clean7['product_count'] = clean7.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
merged7 = clean7.pivot_table(index='order_id', columns='product_count', values='product_name', aggfunc='first')

# Reset column names
merged7.columns = [f'product{i}' for i in range(1, merged7.shape[1] + 1)]

# Reset the index
merged7.reset_index(inplace=True)

print(merged7.head())
print(merged7.shape)

   order_id                                           product1  \
0         2                                 Organic Egg Whites
1         3  Total 2% with Strawberry Lowfat Greek Strained...
2         4                            Plain Pre-Sliced Bagels
3         5                             Bag of Organic Bananas
4         6                                            Cleanse

                      product2                                       product3  \
0        Michigan Organic Kale                                  Garlic Powder
1       Unsweetened Almondmilk                                         Lemons
2      Honey/Lemon Cough Drops     Chewy 25% Low Sugar Chocolate Chip Granola
3          Just Crisp Parmesan                              Fresh Fruit Salad
4  Dryer Sheets Geranium Scent  Clean Day Lavender Scent Room Freshener Spray

                      product4  \
0               Coconut Butter
1         Organic Baby Spinach
2  Oats & Chocolate Chewy Bars
3          Organic Raspberries
4                          NaN

                                          product5  \
0                                Natural Sweetener
1  Unsweetened Chocolate Almond Breeze Almond Milk
2      Kellogg's Nutri-Grain Apple Cinnamon Cereal
3                              2% Reduced Fat Milk
4                                              NaN

                                            product6  \
0                                            Carrots
1                                Organic Ginger Root
2  Nutri-Grain Soft Baked Strawberry Cereal Break...
3                             Sensitive Toilet Paper
4                                                NaN

                                            product7  \
0                   Original Unflavored Gelatine Mix
1  Air Chilled Organic Boneless Skinless Chicken ...
2             Kellogg's Nutri-Grain Blueberry Cereal
3               Natural Artesian Water Mini & Mobile
4                                                NaN

                                   product8  \
0  All Natural No Stir Creamy Almond Butter
1  Organic Ezekiel 49 Bread Cinnamon Raisin
2                      Tiny Twists Pretzels
3                           Matzos Thin Tea
4                                       NaN

                                   product9  ... product118 product119  \
0                   Classic Blend Cole Slaw  ...        NaN        NaN
1                                       NaN  ...        NaN        NaN
2                     Traditional Snack Mix  ...        NaN        NaN
3  Boneless Skinless Chicken Breast Fillets  ...        NaN        NaN
4                                       NaN  ...        NaN        NaN

  product120 product121 product122 product123 product124 product125  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

  product126 product127
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

[5 rows x 128 columns]
(495727, 128)
   order_id                                           product1  \
0    527768                                     Ranch Dressing
1    527769                       Instant Oatmeal Variety Pack
2    527770                                 Honey Greek Yogurt
3    527771  Sparkling Probiotic Drink Mojita Lime Mint Coc...
4    527772                                    Low Fat 1% Milk

                                         product2  \
0                     Natural Mini Pork Pepperoni
1        Natural Chicken & Sage Breakfast Sausage
2  ProBugs Whole Milk Kefir Orange Creamy Crawler
3                 Original Roasted Seaweed Snacks
4                      Stringless Sugar Snap Peas

                      product3                  product4  \
0         Homemade Pizza Sauce                       NaN
1  Sea Salt Baked Potato Chips                       NaN
2  Goo Berry Pie Probugs Kefir     Organic Whole Cashews
3                          NaN                       NaN
4               Drinking Water  Original Pepperoni Pizza

                              product5        product6  \
0                                  NaN             NaN
1                                  NaN             NaN
2  Organic Whole Milk with DHA Omega-3           Limes
3                                  NaN             NaN
4                              Spinach  Cucumber Kirby

                                            product7  \
0                                                NaN
1                                                NaN
2                                   Bunched Cilantro
3                                                NaN
4  Marketplace Cheese Tortellini in a Roasted Red...

                                            product8  \
0                                                NaN
1                                                NaN
2                            Organic Jalapeno Pepper
3                                                NaN
4  Flip Low-Fat Almond Coco Loco Lowfat Greek Yogurt

                          product9  ... product128 product129 product130  \
0                              NaN  ...        NaN        NaN        NaN
1                              NaN  ...        NaN        NaN        NaN
2    Grilled Chicken Breast Strips  ...        NaN        NaN        NaN
3                              NaN  ...        NaN        NaN        NaN
4  Cafe Steamers Asian Potstickers  ...        NaN        NaN        NaN

  product131 product132 product133 product134 product135 product136 product137
0        NaN        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN        NaN

[5 rows x 138 columns]
(495988, 138)
   order_id                    product1  \
0   1055844  Unsalted Pure Irish Butter
1   1055845    Organic Reduced Fat Milk
2   1055846        With Bleach Cleanser
3   1055848          Pure Coconut Water
4   1055849  Lemon Fruit & Nut Food Bar

                                 product2  \
0                          Pizza 4 Cheese
1  Mack's Flax Sprouted Whole Grain Bread
2             Regular Concentrated Bleach
3                       Fresh Fruit Salad
4                   Total 0% Greek Yogurt

                                            product3  \
0                    Uncooked Medium Flour Tortillas
1                    Organic Plain Whole Milk Yogurt
2           Free and Gentle Liquid Laundry Detergent
3  Organic Sticks Low Moisture Part Skim Mozzarel...
4                              Organic Salted Butter

                                    product4  \
0  Zero Calorie Creamy Root Beer Stevia Soda
1          Organic Old Fashioned Rolled Oats
2                           Fridge Pack Cola
3           Wonderful 100% Pomegranate Juice
4                       Balsamic Vinaigrette

                                       product5  \
0  Organic Mini Sandwich Crackers Peanut Butter
1                                 Organic Mango
2                                  Coke Classic
3                 Waffles Sweet Belgian Vanilla
4          Organic Large Extra Fancy Fuji Apple

                                    product6  \
0                               Cheese Puffs
1                    Blackened Chicken Salad
2                                        NaN
3  Original Nooks & Crannies English Muffins
4                             Bartlett Pears

                                        product7  \
0  Brown Sugar Maple Oatmeal with Ancient Grains
1                         Organic Tomato Cluster
2                                            NaN
3                                Red Vine Tomato
4                 Organic Mini Homestyle Waffles

                         product8  \
0  Mini Babybel Mozzarella Cheese
1            Organic Strawberries
2                             NaN
3            Organic Hass Avocado
4                 Grated Parmesan

                                       product9  ... product136 product137  \
0                          Organic Yellow Onion  ...        NaN        NaN
1                         Organic Bartlett Pear  ...        NaN        NaN
2                                           NaN  ...        NaN        NaN
3  Baked Rice and Corn Puffs Aged White Cheddar  ...        NaN        NaN
4                              Pineapple Chunks  ...        NaN        NaN

  product138 product139 product140 product141 product142 product143  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

  product144 product145
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

[5 rows x 146 columns]
(495130, 146)

   order_id                           product1                   product2  \
0   1582757  Chicken & Apple Breakfast Sausage      Uncured Beef Hot Dogs
1   1582758             Bag of Organic Bananas                        NaN
2   1582759           Mozzarella String Cheese                Clementines
3   1582760                    Original Hummus  Garnet Sweet Potato (Yam)
4   1582761             Bag of Organic Bananas             Steel Cut Oats

                product3                     product4  \
0    White Hot Dog Rolls                 Cheese Curls
1                    NaN                          NaN
2                    NaN                          NaN
3        Mild Salsa Roja  Thin & Light Tortilla Chips
4  Organic Chicken Stock       California Cauliflower

                             product5                         product6  \
0  Gluten Free Chocolate Chip Cookies                              NaN
1                                 NaN                              NaN
2                                 NaN                              NaN
3                                 NaN                              NaN
4        Total 0% Nonfat Greek Yogurt  Frozen Organic Wild Blueberries

                     product7 product8 product9  ... product107 product108  \
0                         NaN      NaN      NaN  ...        NaN        NaN
1                         NaN      NaN      NaN  ...        NaN        NaN
2                         NaN      NaN      NaN  ...        NaN        NaN
3                         NaN      NaN      NaN  ...        NaN        NaN
4  Organic Large Grade A Eggs      NaN      NaN  ...        NaN        NaN

  product109 product110 product111 product112 product113 product114  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

  product115 product116
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

[5 rows x 117 columns]
(495142, 117)

KeyboardInterrupt:

In [ ]:
# MOVE ON TO ORDER2

order2_clean = order2.iloc[:, 0:2]
items2 = pd.merge(order2_clean, product, on='product_id')
cleanO2 = items2[['order_id', 'product_name']].copy()

cleanO2['product_count'] = cleanO2.groupby('order_id').cumcount() + 1

# Pivot the DataFrame
mergedO2 = cleanO2.pivot_table(index='order_id', columns='product_count', values='product_name', aggfunc='first')

# Reset column names
mergedO2.columns = [f'product{i}' for i in range(1, mergedO2.shape[1] + 1)]

# Reset the index
mergedO2.reset_index(inplace=True)

print(mergedO2.head())
print(mergedO2.shape)

In [20]:
# COMBINE TO GET HUGE ORDERS FILE

orders = pd.concat([merged1, merged2, merged3, merged4, merged5, merged6, merged7, mergedO2])
print(orders.head())
print(orders.shape)

   order_id                                           product1  \
0         2                                 Organic Egg Whites
1         3  Total 2% with Strawberry Lowfat Greek Strained...
2         4                            Plain Pre-Sliced Bagels
3         5                             Bag of Organic Bananas
4         6                                            Cleanse

                      product2                                       product3  \
0        Michigan Organic Kale                                  Garlic Powder
1       Unsweetened Almondmilk                                         Lemons
2      Honey/Lemon Cough Drops     Chewy 25% Low Sugar Chocolate Chip Granola
3          Just Crisp Parmesan                              Fresh Fruit Salad
4  Dryer Sheets Geranium Scent  Clean Day Lavender Scent Room Freshener Spray

                      product4  \
0               Coconut Butter
1         Organic Baby Spinach
2  Oats & Chocolate Chewy Bars
3          Organic Raspberries
4                          NaN

                                          product5  \
0                                Natural Sweetener
1  Unsweetened Chocolate Almond Breeze Almond Milk
2      Kellogg's Nutri-Grain Apple Cinnamon Cereal
3                              2% Reduced Fat Milk
4                                              NaN

                                            product6  \
0                                            Carrots
1                                Organic Ginger Root
2  Nutri-Grain Soft Baked Strawberry Cereal Break...
3                             Sensitive Toilet Paper
4                                                NaN

                                            product7  \
0                   Original Unflavored Gelatine Mix
1  Air Chilled Organic Boneless Skinless Chicken ...
2             Kellogg's Nutri-Grain Blueberry Cereal
3               Natural Artesian Water Mini & Mobile
4                                                NaN

                                   product8  \
0  All Natural No Stir Creamy Almond Butter
1  Organic Ezekiel 49 Bread Cinnamon Raisin
2                      Tiny Twists Pretzels
3                           Matzos Thin Tea
4                                       NaN

                                   product9  ... product136 product137  \
0                   Classic Blend Cole Slaw  ...        NaN        NaN
1                                       NaN  ...        NaN        NaN
2                     Traditional Snack Mix  ...        NaN        NaN
3  Boneless Skinless Chicken Breast Fillets  ...        NaN        NaN
4                                       NaN  ...        NaN        NaN

  product138 product139 product140 product141 product142 product143  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

  product144 product145
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

[5 rows x 146 columns]
(3346089, 146)

In [22]:
# extract only the products
prods = orders.iloc[:, 1:]
print(prods.head())
print(prods.shape)

                                            product1  \
0                                 Organic Egg Whites
1  Total 2% with Strawberry Lowfat Greek Strained...
2                            Plain Pre-Sliced Bagels
3                             Bag of Organic Bananas
4                                            Cleanse

                      product2                                       product3  \
0        Michigan Organic Kale                                  Garlic Powder
1       Unsweetened Almondmilk                                         Lemons
2      Honey/Lemon Cough Drops     Chewy 25% Low Sugar Chocolate Chip Granola
3          Just Crisp Parmesan                              Fresh Fruit Salad
4  Dryer Sheets Geranium Scent  Clean Day Lavender Scent Room Freshener Spray

                      product4  \
0               Coconut Butter
1         Organic Baby Spinach
2  Oats & Chocolate Chewy Bars
3          Organic Raspberries
4                          NaN

                                          product5  \
0                                Natural Sweetener
1  Unsweetened Chocolate Almond Breeze Almond Milk
2      Kellogg's Nutri-Grain Apple Cinnamon Cereal
3                              2% Reduced Fat Milk
4                                              NaN

                                            product6  \
0                                            Carrots
1                                Organic Ginger Root
2  Nutri-Grain Soft Baked Strawberry Cereal Break...
3                             Sensitive Toilet Paper
4                                                NaN

                                            product7  \
0                   Original Unflavored Gelatine Mix
1  Air Chilled Organic Boneless Skinless Chicken ...
2             Kellogg's Nutri-Grain Blueberry Cereal
3               Natural Artesian Water Mini & Mobile
4                                                NaN

                                   product8  \
0  All Natural No Stir Creamy Almond Butter
1  Organic Ezekiel 49 Bread Cinnamon Raisin
2                      Tiny Twists Pretzels
3                           Matzos Thin Tea
4                                       NaN

                                   product9  \
0                   Classic Blend Cole Slaw
1                                       NaN
2                     Traditional Snack Mix
3  Boneless Skinless Chicken Breast Fillets
4                                       NaN

                               product10  ... product136 product137  \
0                                    NaN  ...        NaN        NaN
1                                    NaN  ...        NaN        NaN
2  Goldfish Cheddar Baked Snack Crackers  ...        NaN        NaN
3           Mini Original Babybel Cheese  ...        NaN        NaN
4                                    NaN  ...        NaN        NaN

  product138 product139 product140 product141 product142 product143  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        NaN        NaN        NaN        NaN        NaN        NaN

  product144 product145
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

[5 rows x 145 columns]
(3346089, 145)

In [24]:
# export products as a txt
prods.to_csv(r'firstcomb.txt', header=None, index=None, sep=',', mode='a')

In [25]:
# cleaning to remove extra ','s
import re

# Open the input file for reading
input_file = "firstcomb.txt"
mid_file = "temp1.txt"
output_file = "instacart.txt"

with open(input_file, "r") as file:
    file_contents = file.read()

# Define a regular expression pattern to find and replace consecutive commas with just one comma
pattern = re.compile(r',+,')
replacement = ','

# Use the sub() function to replace the pattern with the replacement
cleaned_contents = re.sub(pattern, replacement, file_contents)

# Open the output file for writing and write the cleaned contents
with open(mid_file, "w") as file:
    file.write(cleaned_contents)
    
with open(mid_file, 'r') as infile, open(output_file, 'w') as outfile:
    for line in infile:
        # Remove the trailing comma if it exists
        line = line.rstrip(',\n')
        # Write the modified line to the output file
        outfile.write(line + '\n')

----